@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>MyTunes</h1>

<h2>Links here:</h2>
<nav>
    <h2>Artists:</h2>
    <ul>
        <h3>Artist1</h3>
        <h3>Artist2</h3>
        <h3>Artist3</h3>
    </ul>
    <h2>Songs:</h2>
    <ul>
        <h3>Song1</h3>
        <h3>Song2</h3>
        <h3>Song3</h3>
    </ul>
</nav>